:root {
    --primaryColor: #F9BE4F;
    --secondaryColor: #F9575C;
    --tertiaryColor: #675444;
    --textColor: #808080;
    --borderRadius: 355px 45px 225px 75px/15px 225px 15px 255px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* Utils */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Header */
.header {
    background-color: var(--primaryColor);
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__brand {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 2rem;
}

.navbar__links {
    display: none;
}

.navbar__link {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
}

.active {
    background-color: var(--secondaryColor);
    padding: 20px;
    border-radius: var(--borderRadius);
    -webkit-border-radius: var(--borderRadius);
    -moz-border-radius: var(--borderRadius);
    -ms-border-radius: var(--borderRadius);
    -o-border-radius: var(--borderRadius);
}
